.navbar {
    background-color: rgb(192, 176, 223);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 0px auto;
    position: relative;
}

.list {
    display: flex;
}

.navbutton {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 45px;
}

.logo img {
    max-height: 100%;
}