  .card {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1.5rem;
    text-align: center;
    color: black;
    text-decoration: none;
    border: 1px solid orangered;
    border-radius: 20px;
  }

  .card p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }